<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Puppy Adoption Site</title>
  </head>
  <body>
    <h1>Welcome To The Puppy Adoption Site</h1>

    <form method="POST" action="/">
      <a href="http://pets.rb">Click Here To List A Puppy</a>
      <p>Pet's name: <input type="text" name="name"></p>
      <p>Pet's breed: <input type="text" name="breed"></p>
      <p>Pet's age: <input type="text" name="age"></p>
      <button id="submit" name="submit" type="submit"></button>
    </form>
  </body>
</html>
