<!-- <h1>Add New Pet</h1>

<div>
  <form method="post" action="/create">
    <fieldset>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">
    </fieldset>
    <fieldset>
      <label for="breed">Breed:</label>
      <textarea rows="5" columns="25" name="breed" id="breed"></textarea>
    </fieldset>
    <fieldset>
      <label for="age">Age:</label>
      <input type="text" name="age" id="age">
    </fieldset>
    <input type="submit">
  </form>
</div>

<a href="/">Back to Index</a> -->
